* {
  box-sizing: border-box;
}

body {
  font-family: "Laila", serif;

  margin: 0;
  padding: 0;
  background-color: #ADBC9F;
}

h2,
h3,
h4,
strong {
  color: #12372A;
}

footer {
  padding: 20px;
  color: white;
  background-color: #12372A;

  text-align: center;
  font-weight: bold;
}

table {
  width: 100%;
  text-align: left;
}

nav a {
  font-size: 18px;

  font-weight: 400;
  text-decoration: none;

  color: #FBFADA;
  transition: 0.1s;
}

nav a:hover {
  font-weight: bold;
}

.profile header {
  text-align: center;
}

.jumbotron img {
  user-select: none;
  width: 100%;
  max-height: 400px;
  border-radius: 10px;
  opacity: 0.5;

  object-fit: cover;
  object-position: center;
}

.featured-image {
  width: 100%;
  max-height: 300px;
  border-radius: 5px;

  object-fit: cover;
  object-position: center;
}

.profile img {
  max-width: 300px;
  border-radius: 5px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #FBFADA;

  padding: 20px;
}

.card h2 {
  text-align: center;
}

.card p {
  text-align: justify;
}

.jumbotron h1 {
  user-select: none;
  font-size: 55px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.jumbotron {
  pointer-events: none;
  font-family: "Satisfy", cursive;
  text-align: center;
  text-shadow: 4px 4px 0px rgba(18, 55, 42, 0.5);
  position: relative;
  padding: 15px;
  background-color: #436850;
  color: #FBFADA;
}

nav ul {
  padding-inline: 4rem;
  display: flex;
  gap: 2rem;
}

nav li {
  list-style-type: none;
}

nav {
  background-color: #12372A;
  padding: 5px;

  position: sticky;
  top: 0;
}

main {
  padding: 20px;
  display: flex;
  gap: 1.5rem;
}

#content {
  flex: 5;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem 2rem
}

aside {
  flex: 1;
}

header {
  display: inline;
}

@media screen and (max-width: 1440px) {

  .jumbotron img {
    max-height: 350px;
  }

  .featured-image {
    max-height: 200px;
  }
}

@media screen and (max-width: 1024px) {

  .featured-image {
    max-height: 180px;
  }

  .jumbotron img {
    max-height: 300px;
  }

  .jumbotron h1 {
    font-size: 40px;
  }

  main {
    flex-flow: column nowrap;
  }

  main aside {
    align-self: center;
  }
}

@media screen and (max-width: 768px) {

  .featured-image {
    max-height: 150px;
  }

  .jumbotron img {
    max-height: 280px;
  }

  .jumbotron h1 {
    font-size: 40px;
  }

  nav ul {
    justify-content: center;
  }

  main aside {
    align-self: stretch;
  }
}

@media screen and (max-width: 425px) {

  .featured-image {
    max-height: 85px;
  }

  .jumbotron img {
    max-height: 280px;
  }

  .profile img {
    width: 100%;
  }

  .jumbotron h1 {
    font-size: 30px;
  }

  nav ul {
    justify-content: center;
  }

  main aside {
    align-self: stretch;
  }
}